.scroll-list-container {
  position: relative;

  width: 100%;
  height: 80%;
  min-height: 0;

  margin-top: 1vh;
  margin-bottom: 1vh;
}

.scroll-list {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  height: 100%;
  min-height: 0;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background: #060010;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #271e37;
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  padding: 16px;
  background-color: var(--darkgreen);
  border-radius: 8px;
  margin-bottom: 1rem;

  transition: background-color 0.5s ease-in-out;
}

.item.selected {
  background-color: var(--darkergreen);
}

.item-text {
  color: white;
  margin: 0;
}

/* .top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
} */
