#root {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  text-align: center;
}

.applayout{
  width: 100%;
  min-height: 100%;

  display: grid;
  grid-template-columns: 18vw 1fr 18vw;
  grid-template-rows: 1fr;
}