.main{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 1vw;
    margin: 1vw;
}

.piechart{
    width: 100%;
    height: 100%;

    grid-column: 1/2;

    background-color: var(--lightgreen);

    border-radius: 1.2vw;
}