.main{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 2vw;
    padding: 2vw;

    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;

    background-color: var(--lightgreen);
    border-radius: 1.2vw;

    transition: transform 0.25s ease-in-out;
}

.container:hover{
    transform: scale(1.02);
}

#piechart{
    grid-column: 1/2;
}

#sth{
    grid-column: 2/3;
}

#list{
    grid-column: 1/3;
    
    min-height: 0;

    display: flex;
    flex-direction: column;
}

#list-content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}