.left{
    width: 100%;

    background-color: var(--darkgreen);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.balance{
    width: 75%;
    height: 20%;

    background-color: var(--lightgreen);

    border-radius: 1.2vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
}

.balance p{
    width: 80%;
    font-size: medium;
    color: var(--white);

    margin: 0;
}