nav{
    width: 70%;
    height: 20%;

    color: var(--offwhite);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    width: 100%;
    height: 20%;

    font-size: large;

    color: var(--white);
    text-decoration: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-radius: 1vw;
}

nav a:hover{
    font-size: larger;
    color: var(--lightgreen);
}

nav a.active{
    font-size: larger;
    color: var(--lightgreen);
}
