nav{
    width: 70%;
    height: 20%;

    margin-top: 5vw;

    color: var(--offwhite);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* nav a{
    width: 100%;
    height: 20%;

    font-size: large;

    color: var(--white);
    text-decoration: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-radius: 1vw;

    transition: all 0.5s ease-in-out;
}

nav a:hover{
    font-size: 1.5vw;
    color: var(--lightgreen);
}

nav a.active{
    font-size: 1.5vw;
    color: var(--lightgreen);
} */

nav a{
    width: 100%;
    height: 20%;

    font-size: larger;
    color: var(--white);
    text-decoration: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-radius: 1vw;

    transition:
        color 0.25s ease-in-out,
        background-color 0.25s ease-in-out,
        transform 0.25s ease-in-out;
}

nav a:hover,
nav a.active{
    color: var(--lightgreen);
    transform: scale(1.1) translateX(0.5vw);
}


nav .svg-inline--fa{
    margin-right: 0.5vw;
    margin-bottom: 0.2vw;
}
